<h2 class="header">Рейтинг</h2>
<div class="center" id="main">
	<div class="row">
		<div class="position">№</div>
		<div class="name">Никнейм</div>
		<div class="score">Счет</div>
	</div>
	{% for user in users %}
	<div class="row {{user.class}}">
		<div class="position">{{ user.position }}</div>
		<div class="name">{{ user.name }}</div>
		<div class="score">{{ user.score }}</div>
	</div>
	{% endfor %}
	{% if user_personal %}
	<div class="row user">
			<div class="position">{{ user_personal.position }}</div>
			<div class="name">{{ user_personal.name }}</div>
			<div class="score">{{ user_personal.score }}</div>
	</div>
	{% endif %}
</div>