<h2 class="header header-vk">Рейтинг</h2>
<div class="center-h" id="main">
	{% for user in users %}
	<div class="row_ {{user.class}}">
		<div class="position">{{ user.position }}</div>
		<div class="name">{{ user.name }}</div>
		<div class="score">{{ user.score }}</div>
	</div>
	{% endfor %}
	{% if user_personal %}
	<div class="row_ user">
			<div class="position">{{ user_personal.position }}</div>
			<div class="name">{{ user_personal.name }}</div>
			<div class="score">{{ user_personal.score }}</div>
	</div>
	{% endif %}
</div>
