{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
    ym(52394905, "init", {
         id:52394905,
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true
    });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/52394905" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->
 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134643068-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-134643068-1');
</script>
<!-- Facebook Pixel Code -->
<script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1701043756875290');
        fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=1701043756875290&ev=PageView&noscript=1"
      /></noscript>
      <!-- End Facebook Pixel Code -->
      <script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?160",t.onload=function(){VK.Retargeting.Init("VK-RTRG-335322-e3qFt"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><noscript><img src="https://vk.com/rtrg?p=VK-RTRG-335322-e3qFt" style="position:fixed; left:-999px;" alt=""/></noscript>      
        <link href="{% static 'Montserrat.css' %}" rel="stylesheet">
        <title>HandsApp</title>
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <link href="{% static 'vk_override.css' %}" rel="stylesheet">
        <link href="{% static 'postvk_override.css' %}" rel="stylesheet">
    </head>
    <body class="hands">
        <div id="gamezone">
            <div class="center" id="main">
                <button class="btn btn-main center" id="mainButton">HANDSAPP</button>
            </div>
        </div>
        <div id="footemail">
            <a href="https://vk.com/hands_app" target="_top" class="footer">Сделано в HandsApp</a>
        </div>
        <h2 id="timer"></h2>
    </body>
    <script>
        var status_start = "{{quiz_object.is_started}}";
        let main = document.getElementById('main');
        let gamezone = document.getElementById('gamezone');
        let name="", code, xhr, question_id;
        var people_count=1;
        var roomName = {{ quiz_url_json }};
        var chatSocket = new WebSocket(
            'wss://' + window.location.host +
            '/ws/quiz/' + roomName + '/');
        let currentTime = {{quiz_object.question_time}};
        let timerInterval = null;

        chatSocket.onclose = function(e) {
            console.error('Game socket closed unexpectedly');
        };

        function convertTimeToNiceString(time) {
            let minutes = Math.floor(time / 60);
            let seconds = time - (minutes * 60);
            if (seconds < 10) {
                seconds = "0" + seconds.toString();
            }
            return `${minutes}:${seconds}`;
        }

        function timer() {
            document.getElementById("timer").innerHTML = convertTimeToNiceString(currentTime);
            currentTime -= 1;
            if (currentTime === -1) {
                clear(true);
            }
        }

        function hiddenTimer() {
            spent += 1;
        }

        function clear(keep_number) {
            if (!keep_number) {
                document.getElementById("timer").innerHTML = "";
            }
            clearInterval(timerInterval);
        }
    
        function processResults() {
            if (xhr.readyState != 4) return;
            gamezone.innerHTML = xhr.responseText;
        }
    
        function loadResults(d) {
            $.ajax({
                'url': '/leaderboard',
                'type': 'GET',
                'data': {
                    'url': roomName
                },
                'success': (data) => {
                    if (data.length >= 100) {
                        gamezone.innerHTML = data;
                    }
                }
            });
        }
    
        chatSocket.onmessage = function processMessage(d) {
            let data = JSON.parse(d.data);
            let newHTML;
            if (data.message === 'question') {
                document.getElementById("footemail").style.visibility = "hidden";
                newHTML = `
                    <p class="simple-text">${data.questionNumber} / ${data.questionCount}</p>
                    <h2 class="header questionheader">${data.questionText}</h2>
                    <div class="stab"><div class="bottom" id="main">`;
                data.answers.forEach((answer, index) => {
                    newHTML += `<button class="btn btn1" disabled><span class="answer">${answer}</span></button>`;
                });
                newHTML += "</div></div>";
                gamezone.innerHTML = newHTML;
                currentTime = 15;
                timerInterval = setInterval(timer, 1000);
            } else if (data.message === 'question_results') {
                clear();
                let stabilizer = document.getElementsByClassName('stab')[0];
                newHTML = `<div class="bottom" id="main">`;
                data.results.forEach((answer) => {
                    newHTML += `<div class="btn result-bar-outer">
                        <div class="result-bar-inner-${answer.right ? 1 : 2}" style="width: ${answer.percent}%"></div>
                        <span class="answer">${answer.text}</span>
                        <span class="percent">${answer.percent}%</span></div>`;
                });
                newHTML += "</div>";
                stabilizer.innerHTML = newHTML;
            } else if (data.message === 'results') {
                document.getElementById("footemail").style.visibility = "visible";
                loadResults();
            } else if (data.message === 'player_count') {
                people_count = data.count;
                var counter = document.getElementById("user-text");
                if (counter) {
                    counter.innerHTML = `С вами уже играет ${people_count} человек`;
                }
            }
        }
    
        function openWaitingScreen() {
            let code = "1605";
            $.ajax({
                url: '/validate_code',
                data: {
                    'code': code,
                    'url': roomName
                },
                dataType: 'json',
                success: function (data) {
                    if (true) {
                        console.log("OK");
                    }
                }
            });

            gamezone.innerHTML = `<h2 class="header">Подождите, пожалуйста, игра скоро начнется...</h2><p class="simple-text" id="user-text">С вами уже играет ${people_count} человек</p>`;
				};
    
        function openCodeForm() {
            //main.innerHTML = '<div class="input-holder"><input type="text" id="codeInput" placeholder="Введите код" /><button type="button" id="codeFormButton"></button></div>';
            //document.getElementById('codeFormButton').addEventListener('click', openWaitingScreen);
            openWaitingScreen();
        };
    
        document.getElementById('mainButton').addEventListener('click', openCodeForm);
    </script>
    <script src='{% static "jquery-3.1.0.min.js" %}'></script>
</html>