<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Настройка</title>
		<link href='{% static "style.css" %}' rel="stylesheet">
		<link href='{% static "bootstrap-grid.min.css" %}' rel="stylesheet">
	</head>
	<body class="hands">
		<div class="head-overlap overlap-color-dark">HANDSAPP</div>
		<div class="foot-overlap overlap-color-dark"></div>
		<div class="container">
			<div class="row">
				{% for quiz in quizes %}
				<div class="col-6">
					<div class="dummy"></div>
					<div class="c c-test m-3" onclick="window.location.href='/adminka/{{quiz.id}}';">
						<button class="delete-btn"></button>
						<textarea>{{quiz.title}}</textarea>
					</div>
				</div>
				{% endfor %}
				<div class="col-6" onclick="addTest();">
					<div class="dummy"></div>
					<div class="c c-add m-3">
						<p>Создать новую викторину</p>
					</div>
				</div>
			</div>
		</div>
		<script src='{% static "app.js" %}'></script>
	</body>
</html>