@media screen and (max-width: 1199px) {
  .header {
    line-height: 8vw;
    display: block;
    font-weight: 800;
    font-size: 100px;
    color: white;
    margin: 8vw;
    margin-bottom: 10px;
  }

  .simple-text {
    font-size: 6vw;
  }
}

@media screen and (min-width: 1200px) {
	.questionheader {
    font-size: 4vw;
  }
}