.editor-question p, .editor-answer p, .head-overlap, .c p, .footer, .btn, .input-holder input, .header, .editor-header, .simple-text, .row_ div, .register_btn, textarea, #timer, .backbtn {
    font-family: "TT Commons", sans-serif !important;
}

body.hands, body.hands_simple {
    background-image: url("./bg-vk.png") !important;
}

.header-vk {
	background-color: rgba(31,9,57,0.5);
    text-align: center;
    font-size: 30px;
    line-height: 50px;
	border-radius: 25px;
}

@media screen and (min-width: 1200px) {
	.header-vk {
		border-radius: 2vw;
	}
}

.c-test, .btn-round {
	box-shadow: 0 5px 0 0 #B28BD5;
}

.btn-main {
	box-shadow: 0 5px 0 0 #B828BA;
}

.input-holder, .input-holder-full, .input-holder input:focus + button, .register_btn, .backbtn {
	box-shadow: 0 5px 0 0 #6630A0;
}

.backbtn {
	top: 95%;
    width: 30vw;
    height: 8vw;
    left: 20%;
    box-shadow: 0 3px 0 0 #6630A0;
    font-size: 4vw;
}

.btn-main {
	line-height: 70px;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

.footer {
    font-size: 1vw;
    font-style: normal;
}

.btn.result-bar-outer span {
	line-height: 6vw;
	vertical-align: middle;
}

.questionheader {
    font-size: 50px;
}

#timer {
    font-size: 3vw;
    font-weight: 600;
    right: 8vw;
    top: -1.5vw;
}

body {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}